*{
  padding: 0px;
  border: 0px;
}
.menu{
  width: auto;
  font-family: "Arial Black";
  display: block;
  position: absolute;
  right: 0;
}

ul,ol{
  list-style: none;
}
.opcion{
  margin-top: 74px;
  margin-bottom: 0px;
}
.opcion li a{
  text-decoration: none;
  color: aqua;
  background-color: #555555;
  padding: 10px 15px;
  display: block;
}
.opcion > li{
  float: left;
}
.opcion li a:hover{
  background-color: #888888;
  color: #222222;
}
.opcion li ul{
  display: none;
}
.opcion li:hover > ul{
  display: block;
}
.encabezado{
  display: inline-flex;
  background-color: #222b75;
  width: 100%;
  max-height: 116px;
  position: sticky;
  top: 0px;
}
h2 img{
  width: 200px;
  height: auto;
}
h2{
  margin: 0px 4px;
}

.pie-pagina{
  margin: 0px;
  background-color: #999999;
  width: 100%;
  height: 120px;
  /*position: absolute;
  bottom: 0px;*/
}
